body {
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

.itemHeader {
    background: url('./images/headerz.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: 125px;
    background: url("./icons/iman-caffe-high-resolution-logo\ \(1\).png");
    padding-left: 30px;
    margin-left: 100px;
    background-size: contain;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    /* Adds spacing between items */
}

.infor ul li {
    float: left;
    text-decoration: none;
    display: inline;
}
.itemHeader li a {
    display: block;
    color: #293040;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
}
.itemHeader li a:hover {
    color: #d5b263;
}

.login {
    width: 100px;
    text-align: center;
}

.login a {
    margin-top: auto;
    margin-bottom: auto;
}

.login_icon {
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 20px;
    background: url("./icons/user-solid.svg") no-repeat center;
}

.title {
    color: #293040;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.itemdisplay {
    display: flex;
    width: 100%;
    height: 500px;
    background: url("./images/plates.jpg");
    background-size: cover;
    background-position: center;
}

.itemdisplay img {
    width: 500px;
    height: auto;
    float: left;
    margin-right: 200px;
}

.item_info {
    font-size: 25px;
    color: white;
    float: left;
}

.item_name {
    font-size: 35px;
    border-bottom: 1px solid black;
    padding-bottom: 35px;
    color: #D5B263;
    text-transform: capitalize !important;
}

.description {
    color: silver;
}

.itemdisplay .cartButton {
    color: #293040;
    background-color: #d5b263;
    font-size: 20px;
    width: 350px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid black;
    cursor: pointer;
}

.itemdisplay .cartButton:hover {
    background-color: silver;
}

#checkout {
    margin-top: 30px;
    width: 200px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background: url("./images/food-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.product {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
    background: #293040;
}

.product:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.item-image {
    width: 100%;
    margin-left: 20px;
    height: auto;
}

.image {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 200px;
    display: block;
    border-radius: 20px;
}

h2 {
    text-align: center;
    padding-top: 0 8px;
    color: white;
}

p {
    margin-top: 2px;
    color: white;
}

h6 {
    font-size: 23px;
    text-align: center;
    color: navajowhite;
    margin: 0;
}

#price {
    text-align: left;
}

.cart {
    border-radius: 12px;
    color: #333;
    background-color: #D5B263;
    width: 95px;
    height: 30px;
    cursor: pointer;
    border: none;
    margin-bottom: 8px;
}